<div class="main-content-body">
	<div class="project-container">
		<h1>Software <span class="text-accent-color-2">Projects</span></h1>
		<div class="projects">
			<ng-container *ngFor="let project of projects; let i = index">
				<app-software-project-card *ngIf="i < initialShowCount || showAll" [project]="project"></app-software-project-card>
			</ng-container>
		</div>
		<button *ngIf="!showAll" (click)="showAll = true"><h5>Show More Projects</h5></button>
		<button *ngIf="showAll" (click)="showAll = false"><h5>Show Less Projects</h5></button>
	</div>
</div>