.bottom-padded{
    padding-bottom: 1em;
}

.project-button {
    box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
    display: block;
    height: 215px;
}

.project-button h3 {
    font-size: 24px;
    font-weight: 500;
    color: #000; 
    margin: 0 0 30px 0
}

.project-button.color-1{
    border-bottom: 2px solid #0256de;
}

.project-button.color-2{
    border-bottom: 2px solid #b80909;
}

.project-button.color-3{
    border-bottom: 2px solid #8200b1;
}

.project-button.color-4{
    border-bottom: 2px solid #71b800;
}

.project-button.color-3 h3 {
    margin: 0 0 59px 0
}

.project-button.color-4 h3 {
    margin: 0 0 59px 0
}

.project-button .icon-1{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0256de
}

.project-button .icon-2{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: #b80909
}

.project-button .icon-3{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: #8200b1
}

.project-button .icon-4{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: #71b800
}

h3 {
    font-size: 1.2vw;
}