@import 'variables';

.project-button {
    box-shadow: 0px 0px 56px -8px rgba(187, 187, 187, 0.2);
    padding: 1.5em;
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
    display: block;
    height: 215px;
    background-color: $theme-bg-color-secondary;
}

.project-button h3 {
    font-size: 24px;
    font-weight: 500;
    color: $white; 
    margin: 0 0 30px 0
}

.project-button.color-1{
    border-bottom: 2px solid $theme-accent-color-1;
}

.project-button.color-2{
    border-bottom: 2px solid $theme-accent-color-2;
}

.project-button.color-3{
    border-bottom: 2px solid $theme-accent-color-3;
}

.project-button.color-4{
    border-bottom: 2px solid $theme-accent-color-4;
}

.project-button.color-3 h3 {
    margin: 0 0 59px 0
}

.project-button.color-4 h3 {
    margin: 0 0 59px 0
}

.project-button .icon-1{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: $theme-accent-color-1;
}

.project-button .icon-2{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: $theme-accent-color-2;
}

.project-button .icon-3{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: $theme-accent-color-3;
}

.project-button .icon-4{
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: $theme-accent-color-4;
}