<div class="row">
    <div class="col-md-12">
        <div class="row bottom-padded">
            <div class="col-md-12">
                <h2>Contact Me</h2>
                <hr>
                <p>If you want to ask about any of my projects, talk about future opportunities, or just say hi, 
                    feel free to fill out the forms below and leave me a message with your email.
                    I'll be in touch with you as soon as I can!!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="field">
                        <input type="text" name="name" class="input" placeholder="Name">
                    </div>

                    <div class="field">
                        <input type="email" name="email" class="input" placeholder="Email">
                    </div>

                    <div class="field">
                        <textarea class="textarea" name="message" placeholder="Message"></textarea>
                    </div>

                    <button type="submit" class="button is-danger is-large">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>