<div class="row">
    <div class="col-md-12">
        <div class="row bottom-padded">
            <div class="col-md-12">
                <h2>Contact Me</h2>
                <hr>
                <p>If you want to ask about any of my projects, talk about future opportunities, or just say hi, 
                    feel free to fill out the forms below and leave me a message with your email.
                    I'll be in touch with you as soon as I can!!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
                    <div class="field">
                        <input type="text" name="name" class="input" placeholder="Name" [(ngModel)]="name" required #nameInput="ngModel">
                    </div>

                    <div class="error-message" *ngIf="nameInput.touched && nameInput.invalid">Name is required.</div>

                    <div class="field">
                        <input type="email" name="email" class="input" placeholder="Email" [(ngModel)]="email" required email #emailInput="ngModel">
                    </div>

                    <div class="error-message" *ngIf="emailInput.touched && emailInput.invalid">Email must be valid</div>

                    <div class="field">
                        <textarea class="textarea" name="message" placeholder="Message" [(ngModel)]="message" required #messageInput="ngModel"></textarea>
                    </div>

                    <div class="error-message" *ngIf="messageInput.touched && messageInput.invalid">Message is required.</div>

                    <button type="submit" class="button" (click)="contactForm.reset()" [disabled]="!contactForm.form.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>