<a class="project-inner text-decoration-none" [routerLink]=" ['/games', project.id]">
	<header>
		<!--
				<div class="project-header">
					Could put stuff here for like icons and possibly git links
					See: https://brittanychiang.com/#projects
				</div>
				-->
		<h5 class="project-title">
			{{ project.title }}
		</h5>
		<div class="project-desc">
			<p> {{ project.summary }} </p>
		</div>
	</header>
	<footer>
		<ul class="project-tech">
			<li *ngFor="let tech of project.techStack">
				{{ tech }}
			</li>
		</ul>
	</footer>
</a>