<h2 class="mb-5">Skills</h2>

<div class="subheader">Programming Languages and Frameworks</div>
<ul class="list-inline skills-list">
    <li class="list-inline-item">
        Angular 9
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        Java
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        C# & .NET Core
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        JavaScript / TypeScript
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        C++
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        SQL
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        HTML5
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        Python
    </li>
</ul>

<div class="subheader mb-3">Tools and Services</div>
<ul class="list-inline dev-icons">
    <li class="list-inline-item">
        Git
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        GitLab / GitHub
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        VersionOne
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Microsoft SQL Server Management Studio
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Visual Studio
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Amazon Web Services
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Unity3D
    </li>
</ul>

<div class="subheader mb-3">Technical Skills</div>
<ul class="list-inline">
    <li class="list-inline-item">
        Agile Development
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Cloud Development
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Databases
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Continuous Integration / Continuous Delivery Pipelines
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        API Development
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        RESTful Applications 
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Software and Game Systems Design
    </li>
</ul>

<div class="subheader mb-3">Soft Skills</div>
<ul class="list-inline">
    <li class="list-inline-item">
        Verbal & Written Communications 
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Critical Thinking
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Problem Solving
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Planning
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Debugging
    </li>
    <li class="list-inline-item">
        <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Team-Building
    </li>
</ul>