<div class="row">
        <div class="col-md-12">
            <div class="row bottom-padded">
                <div class="col-md-12">
                    <div class="skills-text">
                        <h2>Skills</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Java</h4>
                    <p>
                        <ngb-progressbar type="info" [value]="80"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Javascript / Typescript</h4>
                    <p>
                        <ngb-progressbar type="success" [value]="60"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>MySQL / SQL Server</h4>
                    <p>
                        <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>C# / Dotnet</h4>
                    <p>
                        <ngb-progressbar type="info" [value]="70"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>HTML / CSS</h4>
                    <p>
                        <ngb-progressbar type="success" [value]="55"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Unity3D / Game Design</h4>
                    <p>
                        <ngb-progressbar type="warning" [value]="80"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>C++ / C</h4>
                    <p>
                        <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Angular</h4>
                    <p>
                        <ngb-progressbar type="success" [value]="80"></ngb-progressbar>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>Agile Development</h4>
                    <p>
                        <ngb-progressbar type="warning" [value]="100"></ngb-progressbar>
                    </p>
                </div>
            </div>
        </div>
    </div>