<h2 class="mb-5">Skills</h2>

<div class="subheader mb-3">Programming Languages and Frameworks</div>
<ul class="list-inline dev-icons">
    <li class="list-inline-item">
        Angular 9 <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        Java <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        C# & .NET Core <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        JavaScript / TypeScript <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        C++ <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        SQL <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        HTML5 <span class="text-accent-color-1">|</span>
    </li>
    <li class="list-inline-item">
        Python
    </li>
</ul>

<div class="subheader mb-3">Tools and Services</div>
<ul class="list-inline dev-icons">
    <li class="list-inline-item">
        Git <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        GitLab / GitHub <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        VersionOne <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Microsoft SQL Server Management Studio <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Visual Studio <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Amazon Web Services <span class="text-accent-color-2">|</span>
    </li>
    <li class="list-inline-item">
        Unity3D
    </li>
</ul>

<div class="subheader mb-3">Technical Skills</div>
<ul class="list-inline">
    <li class="list-inline-item">
        Agile Development <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Cloud Development <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Databases <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Continuous Integration / Continuous Delivery Pipelines <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        API Development <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        RESTful Applications <span class="text-accent-color-3">|</span>
    </li>
    <li class="list-inline-item">
        Software and Game Systems Design
    </li>
</ul>

<div class="subheader mb-3">Soft Skills</div>
<ul class="list-inline">
    <li class="list-inline-item">
        Verbal & Written Communications <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Critical Thinking <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Problem Solving <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Planning <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Debugging <span class="text-accent-color-4">|</span>
    </li>
    <li class="list-inline-item">
        Team-Building
    </li>
</ul>