@import 'variables';

.articles {
	display: grid;
	gap: 15px;
	position: relative;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-top: 50px;
	width: 100%
}

@media(max-width: 62.5em){
	.articles {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}

.articles-container {
	padding: 50px 0px;
	display: flex;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0px auto;
	justify-content: center;
	flex-direction: column;
}

@media(max-width: 48em){
	.articles-container {
		padding: 30px 0px 10px 0px;
	}
}

*, ::before, ::after {
	box-sizing: inherit;
}

app-blog-article-card{
	transition-delay: 0ms;
	visibility: visible;
	opacity: 1;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	border: 1px solid $theme-bg-color-secondary;
}

h1 {
	margin: 0px auto;
}

h4 {
	margin: 10px auto 0px;
	text-align: center;
}

@media(max-width: 48em){
	h1 {
		font-size: 32px;
	}
}

button {
	background-color: $theme-bg-color-tertiary;
	border: 2px solid $theme-accent-color-4;
	border-radius: 3px;
	font-size: 15px;
	line-height: 1px;
	text-decoration: none;
	padding: 1rem 1.5rem;
	margin: 50px auto 0px;
}

@media(max-width: 62.5em){
	button {
		margin: 25px auto 10px;
	}
}
  
button:hover{
	background-color: $theme-bg-color-4;
}