<ng-container>
    <mat-toolbar color="primary">
        <h1>Colin Sanders Web Portfolio</h1>
    </mat-toolbar>
    
    <mat-sidenav-container class="nav-container">
        <mat-sidenav #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
            <div class="text-center">
                <h1 class="sidebar-name-title" style="margin-top: 25px">
                    <a href="/">
                        Colin Sanders
                    </a>
                </h1>
                <a href="https://www.linkedin.com/in/colin-c-sanders/"><img class="sidebar-profile-img" src="../../assets/profile.jpg"></a>
                <div class="sidebar-navlinks">
                    <ul>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#contact">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>