.bottom-padded{
    padding-bottom: 1em;
}

p {
    margin-bottom: 1.5em;
}

.content-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
  }
  .content-section .main-content {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .content-section {
      min-height: 100vh;
    }
  }
  @media (min-width: 992px) {
    .content-section {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }