<div class="main-content-body">
    <!--About me section. -->
    <div class="content-section" id="about">
        <div class="main-content">
            <app-about-me></app-about-me>
        </div>
    </div>
    <hr class="m-0" />
    <!--Skills section. -->
    <div class="content-section" id="skills">
        <div class="main-content">
            <app-skills></app-skills>
        </div>
    </div>
    <hr class="m-0" />
    <!--Experience section. -->
    <div class="content-section" id="experience">
        <div class="main-content">
            <app-experience></app-experience>
        </div>
    </div>  
    <hr class="m-0" />
    <!--Contact section. -->
    <div class="content-section" id="contact">
        <div class="main-content">
            <app-contact-me></app-contact-me>
        </div>
    </div>
</div>