<div class="main-content-body">
    <!--Intro section, used same outside class as the about section. -->
    <div class="content-section-about">
        <div class="main-content-narrow">
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top: 15px">Welcome to my portfolio! This is a big work-in-progress, so stay tuned.
                        <br>
                        If you need more information, feel free to check out my <a
                            href="https://github.com/CCSanders/">Github page</a>
                        or take a look at my <a target="_self" href="../../assets/resume.pdf" download="resume.pdf">
                            resume.</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--About me section. -->
    <div class="content-section-about">
        <div class="main-content-narrow">
            <app-about-me></app-about-me>
        </div>
    </div>
    <!--Skills section. -->
    <div class="content-section-skills">
        <div class="main-content-narrow">
            <app-skills></app-skills>
        </div>
    </div>
    <!--Experience section. -->
    <div class="content-section-experience">
        <div class="main-content-narrow">
            <app-experience></app-experience>
        </div>
    </div>
    <!--Contact section. -->
    <div class="content-section-contact">
        <div class="main-content-narrow">
            
        </div>
    </div>
</div>