.main-content-body{
    width: calc(100% - 300px);
    box-sizing: border-box;
}

.main-content-narrow{
    padding: 0 4.5em;
}

.bottom-padded{
    padding-bottom: 1em;
}

.content-section-about{
    padding-top: 2em;
    padding-bottom: 0em;
    clear: both;
    width: 100%;
    display: block;
}

.content-section-skills{
    padding-top: 2em;
    padding-bottom: 0em;
    clear: both;
    width: 100%;
    display: block;
}

.content-section-experience{
    padding-top: 2em;
    padding-bottom: 0em;
    clear: both;
    width: 100%;
    display: block;
}

.content-section-contact{
    padding-top: 2em;
    padding-bottom: 0em;
    clear: both;
    width: 100%;
    display: block;
}